body{
    background-color: #d1bbb4;
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
    font-size: 22px ;
    margin-top: 10px;
    margin-bottom: 10px;

}
.content{
    margin: 0 auto;
    max-width: 100%;
    background-color:#F15A29;
    border-radius:2px;
    color: black;  
}
.navicon{
    margin: 50px;
}
#navicon{
    width: 50px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}
.menu{
    background-image: url('images/background/landing.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    color: white;
    
}
.service {
    display: flex;
    flex-direction: row;
    height: 170px;  
    color: white;
   
}
.type{
    margin: 0px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-style: normal;
  
}
tr#service1{
    background-color: lightgray;
    color: black;
}
#service{
    flex: 1;
    text-align: center;

}
#breakfast, #lunch, #dinner{
    flex: 1;
    text-align: center;
    padding-top: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}
#breakfast{
    background-image: url('images/breakdfastlunchdinner/breakfast.jpg');
}
#lunch{
    background-image: url('images/breakdfastlunchdinner/lunch.jpg');
    background-color: rgba(231, 228, 228, 0.79); 
    background-blend-mode: overlay;                         /*adds overlay on img bakground in the same div*/
}
#dinner{
    background-image: url('images/breakdfastlunchdinner/dinner2.jpg');
}
#food{
    padding:40px;
    background-color: whitesmoke;
    height: auto;
    width: auto;

}
.fastfood{
    display: flex;
    background-color: whitesmoke;
}
#fastfoodimage1{
    width: 50%;
    box-sizing: border-box;
    padding: 40px;
    padding-right: 20px;
    
}  
#imgs1{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0px 0px 6px grey;
    overflow: hidden;
}
#fastfoodtext{
    width: 50%;
    height: auto;
    padding: 30px;
    margin-left: 10px;
    font-size: 18px;  
}
.drinks{
    display: flex;
    background-color: whitesmoke;
}
 
#imgs2{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 15px solid whitesmoke;
    border-radius: 2px;
    box-shadow: 0px 0px 6px grey;
    overflow: hidden;
}
.foodtype{
    background-image: url('assets/backgrounds/foodsBg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 80px;
    background-color: rgba(160, 156, 156, 0.79); 
    background-blend-mode: overlay;   
    text-align: center;

}
#drinkstext{
    float: right;
    width: 50%;
    padding: 20px;
    padding-right: 50px;
    margin-left: 10px;
    padding-right: 20px;
    text-align: right;
    font-size: 18px;  
}
#drinkimage{
    width: 50%;
    box-sizing: border-box;
    float: right;
    padding: 20px;
    padding-right: 50px;
} 
.food-wrap{
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0px;
    height: auto;
}
.list {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    color: #F15A29;
    font-size: 18px;
    align-items: center;
}